.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: center;
  background-color: purple;
  color: aliceblue;
  height: 11rem;
}

nav h2 {
  padding-top: 1%;
  font-size: 300%;
  font-weight: 500;
}

.searchInput {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
.searchInput input {
  width: 95%;
  height: 4rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 3px;
  padding-left: 3%;
  font-size: 200%;
  border-radius: 12px 12px 12px 12px;
  color: #444;
}

.transactionTable {
  width: 100%;
  border-collapse: collapse;
}

.transactionTable th,
.transactionTable td {
  text-align: center;
  border: 1px solid black;
}

.transactionTable th{
  background-color: #f2f;
  color: white;
  font-weight: 500;
  width: calc(100%/3);
}

.transactionTable td{
  width: calc(100%/3);
}


